@import '../variables.scss';

footer {
	border-top: 2px solid $primary_dark_75;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	height: auto;

	padding: 10px;
	position: relative;
	bottom: 0;
	text-align: right;
	width: 100vw;
	z-index: 5;

	.icons {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;

		svg {
			border: 3px solid transparent;
			color: rgba($primary, 0.5);
			height: 50px;
			padding: 10px;
			width: auto;

			&:active,
			&:hover,
			&:focus {
				color: $primary;
				border-color: $primary;
			}
		}
	}

	nav {
		display: flex;
		justify-content: center;
		text-align: center;

		span {
			font-size: 0;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}

	.aimhigher {
		--logo-gradient: #{$primary};
		--logo-neutral: #{$primary};
		--logo-secondary: #{$primary_light_50};

		border: 3px solid transparent;
		margin-right: 20px;
		padding: 10px;

		svg {
			max-width: 100px;

			
		}

		@media(min-width: $desktop) {
			padding: 20px;

			svg {
				max-width: 150px;
			}
		}
	}

	a {

		&:active,
		&:hover,
		&:focus {
			border-color: $primary;

			--logo-gradient: url(#LogoGradient);
			--logo-neutral: #4c4d4e;
			--logo-secondary: #00acbb;
		}
	}
}
