@import '../variables.scss';

header {
	height: $height_header;
	max-height: 150px;
	min-height: 100px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 5;

	svg {
		padding-top: 20px;
	}
}

@media screen and (min-width: 40rem) {
	header {
		min-height: 9em;
	}
}
