*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


node_modules/

style.css

source/maps/

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
.netlify
/public
/src/resources/*.css
/static/img/blog/*

# misc
.DS_Store
.env
.env.local
.env*
.env.development.local
.env.test.local
.env.production.local
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/*.log
.vscode/
.fab
fab.zip
