@import 'variables.scss';

body {
	color: $neutral;
	font-family: $font_regular;
	font-size: 1.2em;
	line-height: 1.4;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
	position: absolute;
	text-decoration-skip-ink: auto;
	width: 100%;
	max-width: 100vw;
}

h1,
h2,
h3 {
	color: $primary;
	font-family: $font_headings;
	font-weight: normal;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.6em;
	text-align: center;

	&.right {
		float: right;
		margin-top: 0;
	}

	&.left {
		float: left;
		margin-top: 0;
		margin-right: 20px;
	}
}

h3 {
	font-size: 1.4em;
}

p {
	line-height: 1.2;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: $primary;
	font-family: inherit;

	&:active,
	&:hover,
	&:focus {
		color: $secondary;
	}
}

ul {
	li {
		font-size: 1.2em;
		padding: 5px 0;
		text-align: left;
	}
}

i {
	color: $neutral;

	&:hover,
	&:focus,
	&:active {
		color: $primary;
	}
}

hr {
	border: none;

	&:before {
		content: '\00B7    \00B7    \00B7    \00B7    \00B7';
		display: block;
		text-align: center;
	}
}

blockquote {
	border-left: 5px solid $primary;
	font-family: $font_headings;
	font-size: 1.2em;
	font-weight: normal;
	padding: 10px 20px;
	margin: 10px 20px;

	&.testimonial {
		border: none;
		display: inline;
		font-family: $font_regular;
		font-size: 1.2em;
		margin: 20px 0;
		position: relative;

		cite {
			display: block;
			font-size: 0.6em;
			margin-top: 10px;
			text-align: right;
		}

		&:before {
			content: '\201C';
			color: $primary_light_25;
			font-family: Arial, sans-serif;
			font-size: 4em;
			position: absolute;
			top: -0.2em;
			left: 0;
			z-index: -2;
		}
	}

	&.cta {
		border-left: none;
		line-height: 2;
		padding: 0;
		margin: 0;
		text-align: center;

		.cta {
			display: inline;
		}
	}

	@media (min-width: $tablet) {
		margin: 20px 40px;
	}
}

figure {
	figcaption {
		border-left: 5px solid $primary;
		font-family: $font_headings;
		font-size: 0.8em;
		font-weight: normal;
		padding: 10px 0 10px 10px;
	}
}

form {
	margin: 0 auto;
	max-width: 400px;

	label {
		display: block;
	}

	input,
	textarea {
		background: transparent;
		box-shadow: none;
		border: 2px solid $secondary_light_75;
		line-height: 1.5;
		padding: 5px 10px;
		margin: 10px 0;
		width: 100%;
	}

	textarea {
		min-height: 6em;
	}
}

button,
.btn {
	background: $secondary;
	border: 3px solid $secondary;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1.1em;
	margin: 20px 0;
	padding: 5px 15px;

	&:active,
	&:hover,
	&:focus {
		background: #fff;
		color: $secondary;
	}

	&.cta {
		background: $primary;
		border-color: $primary;
		margin: 0;
		text-decoration: none;

		&:active, &:hover, &:focus {
			background: #fff;
			color: $primary;
		}
	}
}

.code {
	margin: 0 auto;
	padding: 5px 20px;
	max-width: 900px;
}

pre {
	background: rgba($primary, 0.2);
	border-radius: 20px;
	line-height: 1.3em;
	overflow: hidden;
	padding: 20px;
	white-space: pre-wrap;
}

main {
	padding: 20px 10px 30px;
	margin: 0 auto;
	width: 90vw;
	max-width: 1200px;

	.gatsby-image-wrapper {
		float: right;
		max-height: 400px;
		max-width: 400px;
	}


	// TODO: This can probably go when testimonials are added as there'll be more gap then
	@media (min-width: $desktop) {
		padding-bottom: 100px;
	}
}

.align {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -10px;

	h2 {
		order: -1;
		text-align: left;
		margin-top: 0;
		width: 100%;
	}

	@media (min-width: $tablet) {
		display: block;
		// justify-content: space-between;

		h2 {
			order: 0;
		}

		> * {
			margin: 10px;
		// 	min-width: 200px;
		// 	width: 45%;
		}
	}
}

.testimonials {
	margin: 50px 0;
}

.contact {
	margin-top: 50px;
}
