//Fonts
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

// Imports
@import 'variables.scss';

* {
	box-sizing: border-box;
	font-family: $font-regular;
}

img {
	max-width: 100%;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba($primary, 0.2);

	&:hover {
		background-color: $primary;
	}
}

body {
	font-size: 16px;
}


nav {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}